# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ignore files from the teacher
bin/*
lib/*
obj/*
textures/*
*.make
Makefile
premake4.lua

